.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid darkgray;
  border-radius: 10px;
}

.item:nth-child(2n + 1) {
  background-color: darkgray;
  border: 1px solid;
}

.item:nth-child(2n + 1) p {
  color: white;
}
.avatar {
  max-width: 48px;
  height: auto;
}

.name {
  font-weight: 800;
  font-size: 20px;
  color: black;
  line-height: calc(20 / 15);
}

.online {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
}

.false {
  composes: online;
  background-color: #ef5d7a;
}

.true {
  composes: online;
  background-color: darkgreen;
}
